= form_with model: Comment.new, url: polymorphic_path(commentable_resource, action: 'new_comment'), local: false do |form|
  p= form.label :body, 'New comment'
  p= form.text_field :body

  p= form.submit
